# 🔐 ENV
.env
.env.*

# 🐍 PYTHON
__pycache__/
*.py[cod]
*$py.class

# 👤 VIRTUAL ENV
.virtualenvs/
.venv/
venv/
env/

# 🧪 DJANGO
*.log
db.sqlite3
media/
staticfiles/

# 🧰 IDE
.vscode/
.idea/

# 🐧 OS
.DS_Store
Thumbs.db

# 📊 TEST
htmlcov/
.coverage
.pytest_cache/

# 🔒 SECRETS
*.pem
*.key